In [1]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials as yfs
import json

In [12]:
#!pip install yahoofinancials

Requirement already satisfied: yahoofinancials in c:\users\tafimul\anaconda3.1\lib\site-packages (1.6)
Requirement already satisfied: beautifulsoup4 in c:\users\tafimul\anaconda3.1\lib\site-packages (from yahoofinancials) (4.9.1)
Requirement already satisfied: pytz in c:\users\tafimul\anaconda3.1\lib\site-packages (from yahoofinancials) (2020.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\tafimul\anaconda3.1\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.0.1)

In [2]:
def Sheet_Data(ticker,sheet_data):
    save = []
    
    df = pd.DataFrame.from_dict({(i,j): sheet_data[i][j] 
                            for i in sheet_data.keys() 
                            for j in sheet_data[i].keys()},
                        orient='index')

    for i in df.columns:
        f = len(df.columns) - i - 1
        df2 = pd.json_normalize(df[f],max_level = 1)

        #Gets  Date and renames 
        Date = df2.columns[0]
        Date = Date[0:11]
        df2.index = df2.index.rename(ticker)
        df2.columns = df2.columns.str.replace(str(Date),'')

        #Tranposes DataFrame and changes it to the 
        df2 = df2.T
        df2.rename(columns = {df2.columns[0]:'{}'.format(str(Date[0:4]))},inplace = True)
        #display(df2)
        save.append(df2)
    df3 = pd.concat(save,axis = 1)
    display(df3)
    filename = str(df.index[0][1]) + '_' + str(df.index[0][0])
    print(filename)
    #df3.to_csv('{}.csv'.format(filename))
    return df3
#filename = str(df.index[0][1]) + '_' + str(df.index[0][0])
#df3.t

In [3]:
ticker = 'AAPL'
yahoo_financials = yfs(ticker)

cash = yahoo_financials.get_financial_stmts('annual','cash')
income = yahoo_financials.get_financial_stmts('annual','income')
balance = yahoo_financials.get_financial_stmts('annual','balance')

In [4]:
cash_balance = Sheet_Data(ticker,cash)
income_balance = Sheet_Data(ticker,income)
balance_balance = Sheet_Data(ticker,balance)

AAPL,2017,2018,2019,2020
investments,-33542000000,30845000000,58093000000,5335000000
changeToLiabilities,8373000000,9172000000,-2548000000,-1981000000
totalCashflowsFromInvestingActivities,-46446000000,16066000000,45896000000,-4289000000
netBorrowings,29014000000,432000000,-7819000000,2499000000
totalCashFromFinancingActivities,-17974000000,-87876000000,-90976000000,-86820000000
changeToOperatingActivities,-8480000000,30016000000,-896000000,881000000
issuanceOfStock,555000000,669000000,781000000,880000000
netIncome,48351000000,59531000000,55256000000,57411000000
changeInCash,-195000000,5624000000,24311000000,-10435000000
repurchaseOfStock,-34774000000,-75265000000,-69714000000,-75992000000
totalCashFromOperatingActivities,64225000000,77434000000,69391000000,80674000000
depreciation,10157000000,10903000000,12547000000,11056000000
otherCashflowsFromInvestingActivities,-124000000,-745000000,-1078000000,-791000000
dividendsPaid,-12769000000,-13712000000,-14119000000,-14081000000
changeToInventory,-2723000000,828000000,-289000000,-127000000
changeToAccountReceivables,-2093000000,-5322000000,245000000,6917000000
otherCashflowsFromFinancingActivities,-105000000,-105000000,-105000000,-126000000
changeToNetincome,10640000000,-27694000000,5076000000,6517000000
capitalExpenditures,-12451000000,-13313000000,-10495000000,-7309000000

AAPL_cashflowStatementHistory

AAPL,2017,2018,2019,2020
researchDevelopment,11581000000,14236000000,16217000000,18752000000
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,64089000000,72903000000,65737000000,67091000000
minorityInterest,None,None,None,None
netIncome,48351000000,59531000000,55256000000,57411000000
sellingGeneralAdministrative,15261000000,16705000000,18245000000,19916000000
grossProfit,88186000000,101839000000,98392000000,104956000000
ebit,61344000000,70898000000,63930000000,66288000000
operatingIncome,61344000000,70898000000,63930000000,66288000000
otherOperatingExpenses,None,None,None,None
interestExpense,-2323000000,-3240000000,-3576000000,-2873000000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,15738000000,13372000000,10481000000,9680000000
totalRevenue,229234000000,265595000000,260174000000,274515000000
totalOperatingExpenses,167890000000,194697000000,196244000000,208227000000
costOfRevenue,141048000000,163756000000,161782000000,169559000000
totalOtherIncomeExpenseNet,2745000000,2005000000,1807000000,803000000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,48351000000,59531000000,55256000000,57411000000
netIncomeApplicableToCommonShares,48351000000,59531000000,55256000000,57411000000

AAPL_incomeStatementHistory

AAPL,2017,2018,2019,2020
totalLiab,241272000000,258578000000,248028000000,258549000000
totalStockholderEquity,134047000000,107147000000,90488000000,65339000000
otherCurrentLiab,38099000000,39293000000,43242000000,47867000000
totalAssets,375319000000,365725000000,338516000000,323888000000
commonStock,35867000000,40201000000,45174000000,50779000000
otherCurrentAssets,13936000000,12087000000,12352000000,11264000000
retainedEarnings,98330000000,70400000000,45898000000,14966000000
otherLiab,43251000000,48914000000,50503000000,46108000000
treasuryStock,-150000000,-3454000000,-584000000,-406000000
otherAssets,18177000000,22283000000,32978000000,33952000000
cash,20289000000,25913000000,48844000000,38016000000
totalCurrentLiabilities,100814000000,115929000000,105718000000,105392000000
shortLongTermDebt,6496000000,8784000000,10260000000,8773000000
otherStockholderEquity,-150000000,-3454000000,-584000000,-406000000
propertyPlantEquipment,33783000000,41304000000,37378000000,45336000000
totalCurrentAssets,128645000000,131339000000,162819000000,143713000000
longTermInvestments,194714000000,170799000000,105341000000,100887000000
netTangibleAssets,134047000000,107147000000,90488000000,65339000000
shortTermInvestments,53892000000,40388000000,51713000000,52927000000
netReceivables,35673000000,48995000000,45804000000,37445000000
longTermDebt,97207000000,93735000000,91807000000,98667000000
inventory,4855000000,3956000000,4106000000,4061000000
accountsPayable,44242000000,55888000000,46236000000,42296000000

AAPL_balanceSheetHistory

# Anaylsis

In [151]:
FCF = cash_balance.loc[['totalCashFromOperatingActivities','capitalExpenditures','netIncome']] # how to select rows 
Revenue = income_balance.loc[['totalRevenue','netIncome']]
Growth_Rate = Revenue.pct_change().mean()
#FCF is CFO - CAPEX = FCF
#FCF = cash_balance.loc[['totalCashFromOperatingActivities','capitalExpenditures','netBorrowings']] # More 

df = pd.DataFrame()
df['FCF'] = FCF.loc['totalCashFromOperatingActivities'] + FCF.loc['capitalExpenditures']
df['Net Income'] = FCF.loc['netIncome']
#df['FCF/Net Income'] = df['FCF']/df['Net Income']
minimum = (df['FCF']/df['Net Income']).min()

In [83]:

average_factor = cash_balance.pct_change(axis = 1 ).mean(axis = 1 )
average_factor = (100 + average_factor)/100
df = cash_balance
df['2021'] = cash_balance[cash_balance.columns[3]] * average_factor
for i in range(0,4,1):
    num =  int(df.columns[4]) + i

    df['{}'.format(num)] = df['{}'.format(num - 1)] * average_factor

df

AAPL,2017,2018,2019,2020,2021,2022,2023,2024
investments,-33542000000,30845000000,58093000000,5335000000,5.320032e+09,5.305107e+09,5.290223e+09,5.275381e+09
changeToLiabilities,8373000000,9172000000,-2548000000,-1981000000,-1.976984e+09,-1.972977e+09,-1.968977e+09,-1.964986e+09
totalCashflowsFromInvestingActivities,-46446000000,16066000000,45896000000,-4289000000,-4.285394e+09,-4.281792e+09,-4.278192e+09,-4.274595e+09
netBorrowings,29014000000,432000000,-7819000000,2499000000,2.421820e+09,2.347024e+09,2.274538e+09,2.204290e+09
totalCashFromFinancingActivities,-17974000000,-87876000000,-90976000000,-86820000000,-8.730589e+10,-8.779450e+10,-8.828585e+10,-8.877994e+10
changeToOperatingActivities,-8480000000,30016000000,-896000000,881000000,8.713990e+08,8.619026e+08,8.525097e+08,8.432191e+08
issuanceOfStock,555000000,669000000,781000000,880000000,8.806343e+08,8.812691e+08,8.819044e+08,8.825401e+08
netIncome,48351000000,59531000000,55256000000,57411000000,5.742744e+10,5.744388e+10,5.746032e+10,5.747677e+10
changeInCash,-195000000,5624000000,24311000000,-10435000000,-1.001420e+10,-9.610373e+09,-9.222829e+09,-8.850912e+09
repurchaseOfStock,-34774000000,-75265000000,-69714000000,-75992000000,-7.612146e+10,-7.625115e+10,-7.638105e+10,-7.651118e+10
totalCashFromOperatingActivities,64225000000,77434000000,69391000000,80674000000,8.070478e+10,8.073557e+10,8.076637e+10,8.079718e+10
depreciation,10157000000,10903000000,12547000000,11056000000,1.105768e+10,1.105936e+10,1.106104e+10,1.106273e+10
otherCashflowsFromInvestingActivities,-124000000,-745000000,-1078000000,-791000000,-7.969222e+08,-8.028887e+08,-8.088999e+08,-8.149561e+08
dividendsPaid,-12769000000,-13712000000,-14119000000,-14081000000,-1.408305e+10,-1.408510e+10,-1.408715e+10,-1.408920e+10
changeToInventory,-2723000000,828000000,-289000000,-127000000,-1.264111e+08,-1.258249e+08,-1.252415e+08,-1.246607e+08
changeToAccountReceivables,-2093000000,-5322000000,245000000,6917000000,7.193755e+09,7.481583e+09,7.780928e+09,8.092249e+09
otherCashflowsFromFinancingActivities,-105000000,-105000000,-105000000,-126000000,-1.260364e+08,-1.260727e+08,-1.261091e+08,-1.261455e+08
changeToNetincome,10640000000,-27694000000,5076000000,6517000000,6.474664e+09,6.432603e+09,6.390815e+09,6.349298e+09
capitalExpenditures,-12451000000,-13313000000,-10495000000,-7309000000,-7.304296e+09,-7.299596e+09,-7.294898e+09,-7.290203e+09

In [157]:
Revenue
Revenue = Revenue.drop(['netIncome'])

KeyError: "['netIncome'] not found in axis"

In [170]:
#Anaylist esitmates 
df = pd.read_html('https://finance.yahoo.com/quote/AAPL/analysis?p=AAPL')
df = df[1] 
df.index = df[df.columns[0]]
df1 = df.index 
df1 = df[df.columns[3:5]]
df1 = df1.drop(['Sales Growth (year/est)'])

for i in df1.columns:
    df1[i] = df1[i].str.replace('B','e9')
    df1[i] = df1[i].astype(float)

#df1.loc['Avg. Estimate']
df1.loc['Avg. Estimate'].tolist()

Revenue
strs = int(Revenue.columns[3])
Revenue['{}'.format(strs+1)] = df1.loc['Avg. Estimate'][0]
Revenue['{}'.format(strs+2)] = df1.loc['Avg. Estimate'][1]
Revenue

AAPL,2017,2018,2019,2020,2021,2022
totalRevenue,229234000000,265595000000,260174000000,274515000000,3.336500e+11,3.481500e+11

In [24]:
{(i,j): cash[i][j] 
for i in cash.keys()
for j in cash[i].keys()
        }

{('cashflowStatementHistory',
  'AAPL'): [{'2020-09-26': {'investments': 5335000000,
    'changeToLiabilities': -1981000000,
    'totalCashflowsFromInvestingActivities': -4289000000,
    'netBorrowings': 2499000000,
    'totalCashFromFinancingActivities': -86820000000,
    'changeToOperatingActivities': 881000000,
    'issuanceOfStock': 880000000,
    'netIncome': 57411000000,
    'changeInCash': -10435000000,
    'repurchaseOfStock': -75992000000,
    'totalCashFromOperatingActivities': 80674000000,
    'depreciation': 11056000000,
    'otherCashflowsFromInvestingActivities': -791000000,
    'dividendsPaid': -14081000000,
    'changeToInventory': -127000000,
    'changeToAccountReceivables': 6917000000,
    'otherCashflowsFromFinancingActivities': -126000000,
    'changeToNetincome': 6517000000,
    'capitalExpenditures': -7309000000}}, {'2019-09-28': {'investments': 58093000000,
    'changeToLiabilities': -2548000000,
    'totalCashflowsFromInvestingActivities': 45896000000,
    'netBorrowings': -7819000000,
    'totalCashFromFinancingActivities': -90976000000,
    'changeToOperatingActivities': -896000000,
    'issuanceOfStock': 781000000,
    'netIncome': 55256000000,
    'changeInCash': 24311000000,
    'repurchaseOfStock': -69714000000,
    'totalCashFromOperatingActivities': 69391000000,
    'depreciation': 12547000000,
    'otherCashflowsFromInvestingActivities': -1078000000,
    'dividendsPaid': -14119000000,
    'changeToInventory': -289000000,
    'changeToAccountReceivables': 245000000,
    'otherCashflowsFromFinancingActivities': -105000000,
    'changeToNetincome': 5076000000,
    'capitalExpenditures': -10495000000}}, {'2018-09-29': {'investments': 30845000000,
    'changeToLiabilities': 9172000000,
    'totalCashflowsFromInvestingActivities': 16066000000,
    'netBorrowings': 432000000,
    'totalCashFromFinancingActivities': -87876000000,
    'changeToOperatingActivities': 30016000000,
    'issuanceOfStock': 669000000,
    'netIncome': 59531000000,
    'changeInCash': 5624000000,
    'repurchaseOfStock': -75265000000,
    'totalCashFromOperatingActivities': 77434000000,
    'depreciation': 10903000000,
    'otherCashflowsFromInvestingActivities': -745000000,
    'dividendsPaid': -13712000000,
    'changeToInventory': 828000000,
    'changeToAccountReceivables': -5322000000,
    'otherCashflowsFromFinancingActivities': -105000000,
    'changeToNetincome': -27694000000,
    'capitalExpenditures': -13313000000}}, {'2017-09-30': {'investments': -33542000000,
    'changeToLiabilities': 8373000000,
    'totalCashflowsFromInvestingActivities': -46446000000,
    'netBorrowings': 29014000000,
    'totalCashFromFinancingActivities': -17974000000,
    'changeToOperatingActivities': -8480000000,
    'issuanceOfStock': 555000000,
    'netIncome': 48351000000,
    'changeInCash': -195000000,
    'repurchaseOfStock': -34774000000,
    'totalCashFromOperatingActivities': 64225000000,
    'depreciation': 10157000000,
    'otherCashflowsFromInvestingActivities': -124000000,
    'dividendsPaid': -12769000000,
    'changeToInventory': -2723000000,
    'changeToAccountReceivables': -2093000000,
    'otherCashflowsFromFinancingActivities': -105000000,
    'changeToNetincome': 10640000000,
    'capitalExpenditures': -12451000000}}]}

# Testing for working all of the files work

df = pd.DataFrame.from_dict({(i,j): balance_sheet_data[i][j] 
                           for i in balance_sheet_data.keys() 
                           for j in balance_sheet_data[i].keys()},
                       orient='index')
for i in df.columns:
    df[i].tolist()
    df2 = pd.json_normalize(df[i],max_level = 1)

    #Gets  Date and renames 
    Date = df2.columns[0]
    Date = Date[0:11]
    df2.index = df2.index.rename(ticker)
    df2.columns = df2.columns.str.replace(str(Date),'')

    #Tranposes DataFrame and changes it to the 
    df2 = df2.T
    df2.rename(columns = {df2.columns[0]:'{}'.format(str(Date[0:10]))},inplace = True)
    #display(df2)
    save.append(df2)
df3 = pd.concat(save,axis = 1)
display(df3)