In [39]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials as yfs
import json

In [40]:
#!pip install yahoofinancials

In [41]:
def Sheet_Data(ticker,sheet_data):
    save = []
    
    df = pd.DataFrame.from_dict({(i,j): sheet_data[i][j] 
                            for i in sheet_data.keys() 
                            for j in sheet_data[i].keys()},
                        orient='index')

    for i in df.columns:
        f = len(df.columns) - i - 1
        df2 = pd.json_normalize(df[f],max_level = 1)

        #Gets  Date and renames 
        Date = df2.columns[0]
        Date = Date[0:11]
        df2.index = df2.index.rename(ticker)
        df2.columns = df2.columns.str.replace(str(Date),'')

        #Tranposes DataFrame and changes it to the 
        df2 = df2.T
        df2.rename(columns = {df2.columns[0]:'{}'.format(str(Date[0:4]))},inplace = True)
        #display(df2)
        save.append(df2)
    df3 = pd.concat(save,axis = 1)
    #display(df3)
    filename = str(df.index[0][1]) + '_' + str(df.index[0][0])
    print(filename)
    #df3.to_csv('{}.csv'.format(filename))
    return df3
#filename = str(df.index[0][1]) + '_' + str(df.index[0][0])
#df3.t

In [42]:
ticker = 'FB'
yahoo_financials = yfs(ticker)

cash = yahoo_financials.get_financial_stmts('annual','cash')
income = yahoo_financials.get_financial_stmts('annual','income')
balance = yahoo_financials.get_financial_stmts('annual','balance')
stock = yahoo_financials.get_key_statistics_data()[ticker]

cash_balance = Sheet_Data(ticker,cash)
income_balance = Sheet_Data(ticker,income)
balance_balance = Sheet_Data(ticker,balance)

FB_cashflowStatementHistory
FB_incomeStatementHistory
FB_balanceSheetHistory

In [43]:
#WACC = Wd * Rd * (1 - t) + We + Re
INCOME2 = income_balance.loc[['incomeBeforeTax','incomeTaxExpense']]
t = income_balance.loc['incomeBeforeTax']/ income_balance.loc['incomeTaxExpense']
t = t[-1]/ 100

In [47]:
yahoo_financials.get_beta()
df = pd.read_html('https://finance.yahoo.com/bonds')
Rf = float(df[0]['Last Price'][2])
try: 
    beta = float(yahoo_financials.get_beta())
except:
    beta = 0
Rm = float(10.0)
Ra = Rf + beta * (Rm - Rf)
#print(Ra)

try:
    Balance2 = balance_balance.loc[['shortLongTermDebt','longTermDebt']]#.astype#(float)
except:
    Balance2 = balance_balance.loc[['longTermDebt']]
except:
    Balance2 = balance_balance.loc[['totaldebt']]
Total_debt = Balance2.sum()[-1] 
Balance2 =   -(income_balance.loc['interestExpense'][-1]) / Total_debt
Rd = (1-Balance2) * t #  Rd * (1 - t)
Balance2.sum()

SyntaxError: default 'except:' must be last (<ipython-input-47-4e56bf184a36>, line 13)

In [48]:
balance_balance.index

Index(['intangibleAssets', 'capitalSurplus', 'totalLiab',
       'totalStockholderEquity', 'otherCurrentLiab', 'totalAssets',
       'otherCurrentAssets', 'retainedEarnings', 'otherLiab', 'goodWill',
       'treasuryStock', 'otherAssets', 'cash', 'totalCurrentLiabilities',
       'otherStockholderEquity', 'propertyPlantEquipment',
       'totalCurrentAssets', 'netTangibleAssets', 'shortTermInvestments',
       'netReceivables', 'accountsPayable', 'commonStock',
       'longTermInvestments'],
      dtype='object')

In [29]:
balance_balance

SQ                             2017        2018        2019        2020
intangibleAssets           14334000    77102000    69079000   137612000
capitalSurplus           1630386000  2012328000  2223749000  2955464000
totalLiab                1400937000  2160522000  2836208000  7187981000
totalStockholderEquity    786333000  1120501000  1715050000  2681569000
otherCurrentLiab          903784000   899771000  1496307000  3435464000
totalAssets              2187270000  3281023000  4551258000  9869550000
otherCurrentAssets        230782000   503891000   919950000  2597590000
retainedEarnings         -842735000  -885774000  -510328000  -297223000
otherLiab                  69538000   242286000    94461000    85291000
goodWill                   58327000   261705000   266345000   316701000
treasuryStock              -1318000    -6053000     1629000    23328000
otherAssets                16152000    28887000    86388000    40482000
cash                      696474000   583173000  1047118000  3158058000
totalCurrentLiabilities   972827000  1018541000  1694085000  4126104000
otherStockholderEquity     -1318000    -6053000     1629000    23328000
propertyPlantEquipment     91496000   291402000   262342000   690408000
totalCurrentAssets       1778294000  2111905000  3219801000  7761629000
longTermInvestments       228667000   510022000   647303000   922718000
netTangibleAssets         713672000   781694000  1379626000  2227256000
shortTermInvestments      169576000   540991000   492456000   695112000
netReceivables            650212000   433441000   689836000  1215461000
longTermDebt              358572000   899695000   938832000  2586924000
inventory                  16777000    28627000    47683000    61129000
accountsPayable            16763000    36416000    42116000    47089000

In [30]:
"""
AAPL	2017	2018	2019	2020
totalLiab	241272000000	258578000000	248028000000	258549000000
totalStockholderEquity	134047000000	107147000000	90488000000	65339000000
otherCurrentLiab	38099000000	39293000000	43242000000	47867000000
totalAssets	375319000000	365725000000	338516000000	323888000000
commonStock	35867000000	40201000000	45174000000	50779000000
otherCurrentAssets	13936000000	12087000000	12352000000	11264000000
retainedEarnings	98330000000	70400000000	45898000000	14966000000
otherLiab	43251000000	48914000000	50503000000	46108000000
treasuryStock	-150000000	-3454000000	-584000000	-406000000
otherAssets	18177000000	22283000000	32978000000	33952000000
cash	20289000000	25913000000	48844000000	38016000000
totalCurrentLiabilities	100814000000	115929000000	105718000000	105392000000
shortLongTermDebt	6496000000	8784000000	10260000000	8773000000
otherStockholderEquity	-150000000	-3454000000	-584000000	-406000000
propertyPlantEquipment	33783000000	41304000000	37378000000	45336000000
totalCurrentAssets	128645000000	131339000000	162819000000	143713000000
longTermInvestments	194714000000	170799000000	105341000000	100887000000
netTangibleAssets	134047000000	107147000000	90488000000	65339000000
shortTermInvestments	53892000000	40388000000	51713000000	52927000000
netReceivables	35673000000	48995000000	45804000000	37445000000
longTermDebt	97207000000	93735000000	91807000000	98667000000
inventory	4855000000	3956000000	4106000000	4061000000
accountsPayable	44242000000	55888000000	46236000000	42296000000
"""

'\nAAPL\t2017\t2018\t2019\t2020\ntotalLiab\t241272000000\t258578000000\t248028000000\t258549000000\ntotalStockholderEquity\t134047000000\t107147000000\t90488000000\t65339000000\notherCurrentLiab\t38099000000\t39293000000\t43242000000\t47867000000\ntotalAssets\t375319000000\t365725000000\t338516000000\t323888000000\ncommonStock\t35867000000\t40201000000\t45174000000\t50779000000\notherCurrentAssets\t13936000000\t12087000000\t12352000000\t11264000000\nretainedEarnings\t98330000000\t70400000000\t45898000000\t14966000000\notherLiab\t43251000000\t48914000000\t50503000000\t46108000000\ntreasuryStock\t-150000000\t-3454000000\t-584000000\t-406000000\notherAssets\t18177000000\t22283000000\t32978000000\t33952000000\ncash\t20289000000\t25913000000\t48844000000\t38016000000\ntotalCurrentLiabilities\t100814000000\t115929000000\t105718000000\t105392000000\nshortLongTermDebt\t6496000000\t8784000000\t10260000000\t8773000000\notherStockholderEquity\t-150000000\t-3454000000\t-584000000\t-406000000\npropertyPlantEquipment\t33783000000\t41304000000\t37378000000\t45336000000\ntotalCurrentAssets\t128645000000\t131339000000\t162819000000\t143713000000\nlongTermInvestments\t194714000000\t170799000000\t105341000000\t100887000000\nnetTangibleAssets\t134047000000\t107147000000\t90488000000\t65339000000\nshortTermInvestments\t53892000000\t40388000000\t51713000000\t52927000000\nnetReceivables\t35673000000\t48995000000\t45804000000\t37445000000\nlongTermDebt\t97207000000\t93735000000\t91807000000\t98667000000\ninventory\t4855000000\t3956000000\t4106000000\t4061000000\naccountsPayable\t44242000000\t55888000000\t46236000000\t42296000000\n'

In [31]:
Market_Cap = yahoo_financials .get_market_cap() # MarketCap
Total =  Total_debt + Market_Cap 

Wd = Total_debt/ Total 
We = Market_Cap/ Total 
Re = Ra
Required_Rate = (Wd * Rd + We * Re)/100
Required_Rate

0.23193151970209935

# Anaylsis

In [32]:
FCF = cash_balance.loc[['totalCashFromOperatingActivities','capitalExpenditures','netIncome']] # how to select rows 
Revenue = income_balance.loc[['totalRevenue','netIncome']]
Growth_Rate = Revenue.pct_change().mean()
#FCF is CFO - CAPEX = FCF
#FCF = cash_balance.loc[['totalCashFromOperatingActivities','capitalExpenditures','netBorrowings']] # More 

df = pd.DataFrame()
df['FCF'] = FCF.loc['totalCashFromOperatingActivities'] + FCF.loc['capitalExpenditures']
df['Net Income'] = FCF.loc['netIncome']
#df['FCF/Net Income'] = df['FCF']/df['Net Income']
minimum = (df['FCF']/df['Net Income']).min()
print(minimum)
df

-6.082152237796791

            FCF  Net Income
SQ
2017  101614000   -62813000
2018  233877000   -38453000
2019  403201000   375446000
2020  243201000   213105000

In [33]:
def DCF_VALUE():
    outstanding_shares = stock['sharesOutstanding']

    Required_rate = Required_Rate
    Pre_rate = .025
    Cashflowgrowthrate = minimum

    years = [1,2,3,4]
    freecash_flow = df['FCF'].values

    terminalvalue = freecash_flow[-1] * (1+Pre_rate)/(Required_rate - Pre_rate)

    futurefreecashflow = []
    discountfactor = []
    discountfuturefreecashflow = []
    for  year in years:
        cashflow = freecash_flow[-1] * (1+ Cashflowgrowthrate) ** year 
        futurefreecashflow.append(cashflow)
        discountfactor.append((1+ Required_rate)**year)


    for i in range(0,len(years)):
        discountfuturefreecashflow.append(futurefreecashflow[i]/discountfactor[i])

    print(discountfuturefreecashflow)
    dis = terminalvalue/(1+Required_rate)**len(years)
    discountfuturefreecashflow.append(dis)
    value = sum(discountfuturefreecashflow)
    fairvalue = value/outstanding_shares

    print(ticker)
    print(fairvalue)
    print(yahoo_financials.get_current_price())

    print(Cashflowgrowthrate)
    print(Required_Rate)
#print(stock.get_current_price())
DCF_VALUE()

[-1003289944.7879196, 4138925059.159077, -17074526396.211563, 70438446574.37666]
SQ
146.2766091772327
230.03
-6.082152237796791
0.23193151970209935

In [34]:
def DCF_VALUE_CON():
    outstanding_shares = stock['sharesOutstanding']

    Required_rate = .075
    Pre_rate = .025
    Cashflowgrowthrate = .035

    years = [1,2,3,4]
    freecash_flow = df['FCF'].values

    terminalvalue = freecash_flow[-1] * (1+Pre_rate)/(Required_rate - Pre_rate)

    futurefreecashflow = []
    discountfactor = []
    discountfuturefreecashflow = []
    for  year in years:
        cashflow = freecash_flow[-1] * (1+ Cashflowgrowthrate) ** year 
        futurefreecashflow.append(cashflow)
        discountfactor.append((1+ Required_rate)**year)


    for i in range(0,len(years)):
        discountfuturefreecashflow.append(futurefreecashflow[i]/discountfactor[i])

    print(discountfuturefreecashflow)
    dis = terminalvalue/(1+Required_rate)**len(years)
    discountfuturefreecashflow.append(dis)
    value = sum(discountfuturefreecashflow)
    fairvalue = value/outstanding_shares

    print(ticker)
    print(fairvalue)
    print(yahoo_financials.get_current_price())

    print(Cashflowgrowthrate)
    print(Required_Rate)
#print(stock.get_current_price())
DCF_VALUE_CON()

[234151660.46511626, 225439040.54083288, 217050611.12536, 208974309.3160443]
SQ
11.848463031866968
230.03
0.035
0.23193151970209935

In [35]:
df = pd.read_html('https://www.marketwatch.com/investing/stock/sq/financials/balance-sheet/quarter')
df[4]

,Item Item,01-Jan-0001,31-Dec-2019,31-Mar-2020,30-Jun-2020,30-Sep-2020,5- qtr trend
0,Cash & Short Term Investments Cash & Short Te...,3.88B,1.58B,2.52B,2.71B,2.91B,NaN
1,Cash & Short Term Investments Growth Cash & S...,-,-59.35%,59.55%,7.48%,7.46%,NaN
2,Cash Only Cash Only,3.19B,1.09B,2B,1.99B,2.15B,NaN
3,Short-Term Investments Short-Term Investments,-,-,-,-,-,NaN
4,Cash & ST Investments / Total Assets Cash & S...,39.35%,34.68%,41.95%,34.65%,35.85%,NaN
5,Total Accounts Receivable Total Accounts Rece...,1.22B,689.84M,637.19M,1.03B,1.03B,NaN
6,Total Accounts Receivable Growth Total Accoun...,-,-43.24%,-7.63%,62.01%,0.11%,NaN
7,"Accounts Receivables, Net Accounts Receivable...",-,622.56M,553.14M,917.63M,886.4M,NaN
8,"Accounts Receivables, Gross Accounts Receivab...",-,622.56M,553.14M,917.63M,886.4M,NaN
9,Bad Debt/Doubtful Accounts Bad Debt/Doubtful ...,-,-,-,-,-,NaN
10,Other Receivable Other Receivable,148.61M,67.28M,84.05M,114.71M,147.02M,NaN
11,Accounts Receivable Turnover Accounts Receiva...,2.60,1.90,2.17,1.86,2.94,NaN
12,Inventories Inventories,61.13M,47.68M,54.72M,55.42M,70.42M,NaN
13,Finished Goods Finished Goods,-,-,-,-,-,NaN
14,Work in Progress Work in Progress,-,-,-,-,-,NaN
15,Raw Materials Raw Materials,-,-,-,-,-,NaN
16,Progress Payments & Other Progress Payments &...,-,-,-,-,-,NaN
17,Other Current Assets Other Current Assets,2.6B,903.84M,1.18B,2.39B,2.48B,NaN
18,Miscellaneous Current Assets Miscellaneous Cu...,-,881.08M,1.15B,2.36B,2.45B,NaN
19,Total Current Assets Total Current Assets,7.76B,3.22B,4.39B,6.19B,6.49B,NaN
20,"Net Property, Plant & Equipment Net Property,...",690.41M,262.34M,564.12M,616.51M,646.12M,NaN
21,"Property, Plant & Equipment - Gross Property,...",-,440.87M,757.94M,823.85M,862.3M,NaN
22,Buildings Buildings,-,-,-,-,-,NaN
23,Land & Improvements Land & Improvements,-,-,-,-,-,NaN
24,Computer Software and Equipment Computer Soft...,-,188.45M,200.23M,213.36M,226.75M,NaN
25,"Other Property, Plant & Equipment Other Prope...",-,-,-,-,-,NaN
26,Accumulated Depreciation Accumulated Deprecia...,-,178.53M,193.82M,207.34M,216.18M,NaN
27,Total Investments and Advances Total Investme...,936.24M,660.02M,652.75M,591.37M,543.82M,NaN
28,Other Long-Term Investments Other Long-Term I...,-,550.02M,542.75M,460.37M,412.82M,NaN
29,Long-Term Note Receivables Long-Term Note Rec...,-,-,-,-,-,NaN
30,Intangible Assets Intangible Assets,454.31M,335.42M,370.47M,395.56M,408.18M,NaN
31,Net Goodwill Net Goodwill,-,266.35M,288.53M,295.76M,300.62M,NaN
32,Net Other Intangibles Net Other Intangibles,137.61M,69.08M,81.94M,99.8M,107.56M,NaN
33,Other Assets Other Assets,26.96M,73.67M,26.57M,21.77M,24.88M,NaN
34,Total Assets Total Assets,9.87B,4.55B,6B,7.81B,8.11B,NaN
35,Total Assets Growth Total Assets Growth,-,-53.89%,31.92%,30.12%,3.87%,NaN

In [71]:
import pandas as pd
import requests
i = 'SQ'
url = ("https://www.zacks.com/stock/quote/{}/balance-sheet".format(i))
headers = {'User-Agent': 'Mozilla/5.0'}
result = requests.get(url, headers=headers)
df2 = pd.read_html(result.text)

In [76]:
for i in range(3,8):
    display(df2[i].set_index(df2[i].columns[0]))
    #df2[i] = df2[i].set_index(df2[i].columns[0])
#display(df2[5])
pd.concat(df2[3:7]).index
#df2[6]

            12/31/2019  12/31/2018  12/31/2017  12/31/2016
12/31/2020
NaN                  0           0           0           0
NaN                  0           0          17          13
NaN                  0           0           0           0
NaN                  0           0           0           0
NaN                298         116          79          60
NaN                  0           0           0           0
NaN               1369         903         877         505
NaN               1694        1019         973         577
NaN                  0           0           0           0
NaN                  0           0           0           0
NaN                  0           0           0           0
NaN                939         900         359           0
NaN                  0           0           0           0
NaN                 94          93          70          58
NaN                  0           0           0           0
NaN               2836        2161        1401         635

            12/31/2019  12/31/2018  12/31/2017  12/31/2016
12/31/2020
NaN               0.00        0.00        0.00        0.00
NaN               0.00        0.00        0.00        0.00
NaN            2224.00     2012.00     1630.00     1357.00
NaN            -510.00     -886.00     -843.00     -779.00
NaN               2.00       -6.00       -1.00       -2.00
NaN               0.00        0.00        0.00        0.00
NaN            1715.00     1121.00      786.00      576.00
NaN            4551.00     3281.00     2187.00     1211.00
0.0            1715.00     1121.00      786.00      576.00
450.9           432.70      417.00      395.10      364.50
0.0               3.96        2.69        1.99        1.58

            9/30/2020  6/30/2020  3/31/2020  12/31/2019
12/31/2020
NaN               NaN        NaN        NaN         NaN
NaN            2881.0     2687.0     2484.0      1540.0
NaN             847.0      879.0      522.0       589.0
NaN               0.0        0.0        0.0         0.0
NaN               0.0        0.0        0.0         0.0
NaN            2763.0     2621.0     1384.0      1092.0
NaN            6491.0     6187.0     4390.0      3220.0
NaN             196.0      167.0      151.0       149.0
NaN               0.0        0.0        0.0         0.0
NaN             399.0      447.0      529.0       537.0
NaN               0.0        0.0        0.0         0.0
NaN             408.0      396.0      370.0       335.0
NaN             170.0      166.0      150.0       196.0
NaN            8114.0     7812.0     6004.0      4551.0

            9/30/2020  6/30/2020  3/31/2020  12/31/2019
12/31/2020
NaN               0.0          0          0           0
NaN               0.0          0          0           0
NaN               0.0          0          0           0
NaN               0.0          0          0           0
NaN             427.0        394        393         298
NaN               0.0          0          0           0
NaN            3347.0       3195       1575        1369
NaN            3826.0       3633       2005        1694
NaN               0.0          0          0           0
NaN               0.0          0          0           0
NaN               0.0          0          0           0
NaN            1759.0       1778       1761         939
NaN               0.0          0          0           0
NaN               NaN         90         81          94
NaN               0.0          0          0           0
NaN            6051.0       5886       4196        2836

,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
Shareholders Equity,,,,,
Preferred Stock,NaN,0.00,0.00,0.00,0.00
Common Stock (Par),NaN,0.00,0.00,0.00,0.00
Capital Surplus,NaN,2642.00,2550.00,2428.00,2224.00
Retained Earnings,NaN,-591.00,-628.00,-616.00,-510.00
Other Equity,NaN,12.00,4.00,-3.00,2.00
Treasury Stock,NaN,0.00,0.00,0.00,0.00
Total Shareholder's Equity,NaN,2063.00,1926.00,1808.00,1715.00
Total Liabilities & Shareholder's Equity,NaN,8114.00,7812.00,6004.00,4551.00
Total Common Equity,0.0,2063.00,1926.00,1808.00,1715.00
Shares Outstanding,450.9,450.90,442.30,438.70,432.70
Book Value Per Share,0.0,4.57,4.36,4.12,3.96

Index(['Notes Payable', 'Accounts Payable', 'Current Portion Long-Term Debt',
       'Current Portion Capital Leases', 'Accrued Expenses',
       'Income Taxes Payable', 'Other Current Liabilities',
       'Total Current Liabilities', 'Mortgages', 'Deferred Taxes/Income',
       'Convertible Debt', 'Long-Term Debt', 'Non-Current Capital Leases',
       'Other Non-Current Liabilities', 'Minority Interest (Liabilities)',
       'Total Liabilities', 'Preferred Stock', 'Common Stock (Par)',
       'Capital Surplus', 'Retained Earnings', 'Other Equity',
       'Treasury Stock', 'Total Shareholder's Equity',
       'Total Liabilities & Shareholder's Equity', 'Total Common Equity',
       'Shares Outstanding', 'Book Value Per Share', 'Assets',
       'Cash & Equivalents', 'Receivables', 'Notes Receivable', 'Inventories',
       'Other Current Assets', 'Total Current Assets',
       'Net Property & Equipment', 'Investments & Advances',
       'Other Non-Current Assets', 'Deferred Charges', 'Intangibles',
       'Deposits & Other Assets', 'Total Assets', 'Notes Payable',
       'Accounts Payable', 'Current Portion Long-Term Debt',
       'Current Portion Capital Leases', 'Accrued Expenses',
       'Income Taxes Payable', 'Other Current Liabilities',
       'Total Current Liabilities', 'Mortgages', 'Deferred Taxes/Income',
       'Convertible Debt', 'Long-Term Debt', 'Non-Current Capital Leases',
       'Other Non-Current Liabilities', 'Minority Interest (Liabilities)',
       'Total Liabilities'],
      dtype='object')

In [64]:
df2[3].columns[0]

'Liabilities & Shareholders Equity'

In [38]:

display(df2[3])
display(df2[4])
display(df2[5])
display(df2[6])
display(df2[5])
display(df2[6])
display(df2[7])

,Liabilities & Shareholders Equity,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2016
0,Notes Payable,NaN,0,0,0,0
1,Accounts Payable,NaN,0,0,17,13
2,Current Portion Long-Term Debt,NaN,0,0,0,0
3,Current Portion Capital Leases,NaN,0,0,0,0
4,Accrued Expenses,NaN,298,116,79,60
5,Income Taxes Payable,NaN,0,0,0,0
6,Other Current Liabilities,NaN,1369,903,877,505
7,Total Current Liabilities,NaN,1694,1019,973,577
8,Mortgages,NaN,0,0,0,0
9,Deferred Taxes/Income,NaN,0,0,0,0
10,Convertible Debt,NaN,0,0,0,0
11,Long-Term Debt,NaN,939,900,359,0
12,Non-Current Capital Leases,NaN,0,0,0,0
13,Other Non-Current Liabilities,NaN,94,93,70,58
14,Minority Interest (Liabilities),NaN,0,0,0,0
15,Total Liabilities,NaN,2836,2161,1401,635

,Shareholders Equity,12/31/2020,12/31/2019,12/31/2018,12/31/2017,12/31/2016
0,Preferred Stock,NaN,0.00,0.00,0.00,0.00
1,Common Stock (Par),NaN,0.00,0.00,0.00,0.00
2,Capital Surplus,NaN,2224.00,2012.00,1630.00,1357.00
3,Retained Earnings,NaN,-510.00,-886.00,-843.00,-779.00
4,Other Equity,NaN,2.00,-6.00,-1.00,-2.00
5,Treasury Stock,NaN,0.00,0.00,0.00,0.00
6,Total Shareholder's Equity,NaN,1715.00,1121.00,786.00,576.00
7,Total Liabilities & Shareholder's Equity,NaN,4551.00,3281.00,2187.00,1211.00
8,Total Common Equity,0.0,1715.00,1121.00,786.00,576.00
9,Shares Outstanding,450.9,432.70,417.00,395.10,364.50
10,Book Value Per Share,0.0,3.96,2.69,1.99,1.58

,Unnamed: 0,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
0,Assets,NaN,NaN,NaN,NaN,NaN
1,Cash & Equivalents,NaN,2881.0,2687.0,2484.0,1540.0
2,Receivables,NaN,847.0,879.0,522.0,589.0
3,Notes Receivable,NaN,0.0,0.0,0.0,0.0
4,Inventories,NaN,0.0,0.0,0.0,0.0
5,Other Current Assets,NaN,2763.0,2621.0,1384.0,1092.0
6,Total Current Assets,NaN,6491.0,6187.0,4390.0,3220.0
7,Net Property & Equipment,NaN,196.0,167.0,151.0,149.0
8,Investments & Advances,NaN,0.0,0.0,0.0,0.0
9,Other Non-Current Assets,NaN,399.0,447.0,529.0,537.0
10,Deferred Charges,NaN,0.0,0.0,0.0,0.0
11,Intangibles,NaN,408.0,396.0,370.0,335.0
12,Deposits & Other Assets,NaN,170.0,166.0,150.0,196.0
13,Total Assets,NaN,8114.0,7812.0,6004.0,4551.0

,Liabilities & Shareholders Equity,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
0,Notes Payable,NaN,0.0,0,0,0
1,Accounts Payable,NaN,0.0,0,0,0
2,Current Portion Long-Term Debt,NaN,0.0,0,0,0
3,Current Portion Capital Leases,NaN,0.0,0,0,0
4,Accrued Expenses,NaN,427.0,394,393,298
5,Income Taxes Payable,NaN,0.0,0,0,0
6,Other Current Liabilities,NaN,3347.0,3195,1575,1369
7,Total Current Liabilities,NaN,3826.0,3633,2005,1694
8,Mortgages,NaN,0.0,0,0,0
9,Deferred Taxes/Income,NaN,0.0,0,0,0
10,Convertible Debt,NaN,0.0,0,0,0
11,Long-Term Debt,NaN,1759.0,1778,1761,939
12,Non-Current Capital Leases,NaN,0.0,0,0,0
13,Other Non-Current Liabilities,NaN,NaN,90,81,94
14,Minority Interest (Liabilities),NaN,0.0,0,0,0
15,Total Liabilities,NaN,6051.0,5886,4196,2836

,Unnamed: 0,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
0,Assets,NaN,NaN,NaN,NaN,NaN
1,Cash & Equivalents,NaN,2881.0,2687.0,2484.0,1540.0
2,Receivables,NaN,847.0,879.0,522.0,589.0
3,Notes Receivable,NaN,0.0,0.0,0.0,0.0
4,Inventories,NaN,0.0,0.0,0.0,0.0
5,Other Current Assets,NaN,2763.0,2621.0,1384.0,1092.0
6,Total Current Assets,NaN,6491.0,6187.0,4390.0,3220.0
7,Net Property & Equipment,NaN,196.0,167.0,151.0,149.0
8,Investments & Advances,NaN,0.0,0.0,0.0,0.0
9,Other Non-Current Assets,NaN,399.0,447.0,529.0,537.0
10,Deferred Charges,NaN,0.0,0.0,0.0,0.0
11,Intangibles,NaN,408.0,396.0,370.0,335.0
12,Deposits & Other Assets,NaN,170.0,166.0,150.0,196.0
13,Total Assets,NaN,8114.0,7812.0,6004.0,4551.0

,Liabilities & Shareholders Equity,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
0,Notes Payable,NaN,0.0,0,0,0
1,Accounts Payable,NaN,0.0,0,0,0
2,Current Portion Long-Term Debt,NaN,0.0,0,0,0
3,Current Portion Capital Leases,NaN,0.0,0,0,0
4,Accrued Expenses,NaN,427.0,394,393,298
5,Income Taxes Payable,NaN,0.0,0,0,0
6,Other Current Liabilities,NaN,3347.0,3195,1575,1369
7,Total Current Liabilities,NaN,3826.0,3633,2005,1694
8,Mortgages,NaN,0.0,0,0,0
9,Deferred Taxes/Income,NaN,0.0,0,0,0
10,Convertible Debt,NaN,0.0,0,0,0
11,Long-Term Debt,NaN,1759.0,1778,1761,939
12,Non-Current Capital Leases,NaN,0.0,0,0,0
13,Other Non-Current Liabilities,NaN,NaN,90,81,94
14,Minority Interest (Liabilities),NaN,0.0,0,0,0
15,Total Liabilities,NaN,6051.0,5886,4196,2836

,Shareholders Equity,12/31/2020,9/30/2020,6/30/2020,3/31/2020,12/31/2019
0,Preferred Stock,NaN,0.00,0.00,0.00,0.00
1,Common Stock (Par),NaN,0.00,0.00,0.00,0.00
2,Capital Surplus,NaN,2642.00,2550.00,2428.00,2224.00
3,Retained Earnings,NaN,-591.00,-628.00,-616.00,-510.00
4,Other Equity,NaN,12.00,4.00,-3.00,2.00
5,Treasury Stock,NaN,0.00,0.00,0.00,0.00
6,Total Shareholder's Equity,NaN,2063.00,1926.00,1808.00,1715.00
7,Total Liabilities & Shareholder's Equity,NaN,8114.00,7812.00,6004.00,4551.00
8,Total Common Equity,0.0,2063.00,1926.00,1808.00,1715.00
9,Shares Outstanding,450.9,450.90,442.30,438.70,432.70
10,Book Value Per Share,0.0,4.57,4.36,4.12,3.96

#Anaylist esitmates 
df = pd.read_html('https://finance.yahoo.com/quote/AAPL/analysis?p=AAPL')
df = df[1] 
df.index = df[df.columns[0]]
df1 = df.index 
df1 = df[df.columns[3:5]]
df1 = df1.drop(['Sales Growth (year/est)'])

for i in df1.columns:
    df1[i] = df1[i].str.replace('B','e9')
    df1[i] = df1[i].astype(float)

#df1.loc['Avg. Estimate']
df1.loc['Avg. Estimate'].tolist()

Revenue1 = Revenue.loc['totalRevenue']
strs = int(Revenue.columns[3])
Revenue1['{}'.format(strs+1)] = df1.loc['Avg. Estimate'][0]
Revenue1['{}'.format(strs+2)] = df1.loc['Avg. Estimate'][1]
growth = 1 + Revenue.T.pct_change().sum()/5

Revenue1['{}'.format(strs+3)] = l.drop_index() * growth
Revenue1['{}'.format(strs+4)] = l2.drop_index() * growth
Revenue.loc['netIncome']/Revenue.loc['totalRevenue']

ticker = 'LMT'
yahoo_financials = yfs(ticker)

cash = yahoo_financials.get_financial_stmts('annual','cash')
income = yahoo_financials.get_financial_stmts('annual','income')
balance = yahoo_financials.get_financial_stmts('annual','balance')
stock = yahoo_financials.get_key_statistics_data()[ticker]

sample = pd.DataFrame()
sample['Free Cash Flow'] = df['FCF']
sample['Cash Flow'] = futurefreecashflow
sample['discountfactor'] = discountfactor
sample

df = pd.DataFrame.from_dict({(i): stock[i] 
                            for i in stock.keys() 
                            },
                        orient='index')
df

aapl.info['sharesOutstanding']
stock.keys()

pd.DataFrame.from_dict({(i): stock[i] 
for i in stock.keys()},orient='index')

# Testing for working all of the files work

df = pd.DataFrame.from_dict({(i,j): balance_sheet_data[i][j] 
                           for i in balance_sheet_data.keys() 
                           for j in balance_sheet_data[i].keys()},
                       orient='index')
for i in df.columns:
    df[i].tolist()
    df2 = pd.json_normalize(df[i],max_level = 1)

    #Gets  Date and renames 
    Date = df2.columns[0]
    Date = Date[0:11]
    df2.index = df2.index.rename(ticker)
    df2.columns = df2.columns.str.replace(str(Date),'')

    #Tranposes DataFrame and changes it to the 
    df2 = df2.T
    df2.rename(columns = {df2.columns[0]:'{}'.format(str(Date[0:10]))},inplace = True)
    #display(df2)
    save.append(df2)
df3 = pd.concat(save,axis = 1)
display(df3)