In [360]:
import pandas as pd
#import yfinance as yf
from yahoofinancials import YahooFinancials as yfs
import json
import pandas as pd
import requests
import numpy as np

In [361]:
ticker = 'AAPL'

In [362]:
def Balance(ticker):
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/balance-sheet/annual'.format(ticker))
    df1 =  pd.concat([df[4],df[5]])
    maindf = df1
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    maindf = maindf.replace('-',0)
    
    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        #print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('K','e3')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('(','-')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(')','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('%','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(',','')
    
    for i in maindf.columns: #converts everything to float 
        try:
            maindf['{}'.format(i)] = maindf['{}'.format(i)].astype(float)
        except:
            print(i)

    return maindf

In [363]:
def Income(ticker):
    #income
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials'.format(ticker))
    df = df[4]
    maindf = df
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    maindf = maindf.replace('-',0)

    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        #print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('K','e3')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('(','-')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(')','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('%','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(',','')
    
    for i in maindf.columns: #converts everything to float 
        try:
            maindf['{}'.format(i)] = maindf['{}'.format(i)].astype(float)
        except:
            print(i)
    return(maindf)

In [378]:
#cashflow
def cash(ticker):
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/cash-flow/annual'.format(ticker))
    df1 =  pd.concat([df[4],df[5],df[6]])
    maindf = df1
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    maindf = maindf.replace('-',0)
    
    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        #print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('K','e3')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('(','-')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(')','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('%','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(',','')
    
    for i in maindf.columns: #converts everything to float 
        try:
            maindf['{}'.format(i)] = maindf['{}'.format(i)].astype(float)
        except:
            print(i)

    return maindf

In [377]:
z.index

Index(['Net Income before Extraordinaries  Net Income before Extraordinaries',
       'Net Income Growth  Net Income Growth',
       'Depreciation, Depletion & Amortization  Depreciation, Depletion & Amortization',
       'Depreciation and Depletion  Depreciation and Depletion',
       'Amortization of Intangible Assets  Amortization of Intangible Assets',
       'Deferred Taxes & Investment Tax Credit  Deferred Taxes & Investment Tax Credit',
       'Deferred Taxes  Deferred Taxes',
       'Investment Tax Credit  Investment Tax Credit',
       'Other Funds  Other Funds',
       'Funds from Operations  Funds from Operations',
       'Extraordinaries  Extraordinaries',
       'Changes in Working Capital  Changes in Working Capital',
       'Receivables  Receivables', 'Accounts Payable  Accounts Payable',
       'Other Assets/Liabilities  Other Assets/Liabilities',
       'Net Operating Cash Flow  Net Operating Cash Flow',
       'Net Operating Cash Flow Growth  Net Operating Cash Flow Growth',
       'Net Operating Cash Flow / Sales  Net Operating Cash Flow / Sales',
       'Capital Expenditures  Capital Expenditures',
       'Capital Expenditures Growth  Capital Expenditures Growth',
       'Capital Expenditures / Sales  Capital Expenditures / Sales',
       'Capital Expenditures (Fixed Assets)  Capital Expenditures (Fixed Assets)',
       'Capital Expenditures (Other Assets)  Capital Expenditures (Other Assets)',
       'Net Assets from Acquisitions  Net Assets from Acquisitions',
       'Sale of Fixed Assets & Businesses  Sale of Fixed Assets & Businesses',
       'Purchase/Sale of Investments  Purchase/Sale of Investments',
       'Purchase of Investments  Purchase of Investments',
       'Sale/Maturity of Investments  Sale/Maturity of Investments',
       'Other Uses  Other Uses', 'Other Sources  Other Sources',
       'Net Investing Cash Flow  Net Investing Cash Flow',
       'Net Investing Cash Flow Growth  Net Investing Cash Flow Growth',
       'Net Investing Cash Flow / Sales  Net Investing Cash Flow / Sales'],
      dtype='object', name='Item  Item')

In [380]:
z = cash(ticker)

#Free CashFlow
FCF = z.loc[['Net Income before Extraordinaries  Net Income before Extraordinaries','Capital Expenditures  Capital Expenditures','Funds from Operations  Funds from Operations','Free Cash Flow  Free Cash Flow']]
df = pd.DataFrame()
df['FCF'] = FCF.loc['Free Cash Flow  Free Cash Flow'] 
df['Net Income'] = FCF.loc['Net Income before Extraordinaries  Net Income before Extraordinaries']
minimum = (df['FCF']/df['Net Income']).min()
df

               FCF    Net Income
2016  5.309000e+10  4.569000e+10
2017  5.115000e+10  4.835000e+10
2018  6.412000e+10  5.953000e+10
2019  5.890000e+10  5.526000e+10
2020  7.337000e+10  5.741000e+10

In [366]:
x = Income(ticker)
#income
df1 = x.loc[['Net Income  Net Income','Sales/Revenue  Sales/Revenue','Pretax Income  Pretax Income','Income Tax  Income Tax','Interest Expense  Interest Expense']]
df1

,2016,2017,2018,2019,2020
Item Item,,,,,
Net Income Net Income,4.569000e+10,4.835000e+10,5.953000e+10,5.526000e+10,5.741000e+10
Sales/Revenue Sales/Revenue,2.142300e+11,2.285700e+11,2.658100e+11,2.599700e+11,2.741500e+11
Pretax Income Pretax Income,6.137000e+10,6.409000e+10,7.290000e+10,6.574000e+10,6.709000e+10
Income Tax Income Tax,1.569000e+10,1.574000e+10,1.337000e+10,1.048000e+10,9.680000e+09
Interest Expense Interest Expense,1.460000e+09,2.320000e+09,3.240000e+09,3.580000e+09,2.870000e+09

In [367]:
#WACC = Wd * Rd * (1 - t) + We + Re
INCOME2 = x.loc[['Pretax Income  Pretax Income','Income Tax  Income Tax']]
t = x.loc['Pretax Income  Pretax Income']/ x.loc['Income Tax  Income Tax']
t = t[-1]/ 100 


bond = pd.read_html('https://finance.yahoo.com/bonds')
Rf = float(bond[0]['Last Price'][2])
try: 
    beta = float(yahoo_financials.get_beta())
except:
    beta = 0
Rm = float(10.0)
Ra = Rf + beta * (Rm - Rf)

In [368]:
y = Balance(ticker)
Balance2 = y.loc[['Long-Term Debt  Long-Term Debt','Short Term Debt  Short Term Debt']]
Total_debt = Balance2.sum()[-1] 
Balance2 =   -(x.loc['Interest Expense  Interest Expense'][-1]) / Total_debt
Rd = (1-Balance2) * t #  Rd * (1 - t)

In [369]:

yahoo_financials = yfs(ticker)
stock = yahoo_financials.get_key_statistics_data()[ticker]
Market_Cap = yahoo_financials.get_market_cap() # MarketCap
Total =  Total_debt + Market_Cap 
Wd = Total_debt/ Total 
We = Market_Cap/ Total 
Re = Ra
Required_Rate = (Wd * Rd + We * Re)/100
Required_Rate

0.22191181367549667

In [373]:
def DCF_VALUE():
    outstanding_shares = stock['sharesOutstanding']

    Required_rate = Required_Rate
    Pre_rate = .025
    Cashflowgrowthrate = minimum

    years = [1,2,3,4]
    freecash_flow = df['FCF'].values

    terminalvalue = freecash_flow[-1] * (1+Pre_rate)/(Required_rate - Pre_rate)

    futurefreecashflow = []
    discountfactor = []
    discountfuturefreecashflow = []
    for  year in years:
        cashflow = freecash_flow[-1] * (1+ Cashflowgrowthrate) ** year 
        futurefreecashflow.append(cashflow)
        discountfactor.append((1+ Required_rate)**year)


    for i in range(0,len(years)):
        discountfuturefreecashflow.append(futurefreecashflow[i]/discountfactor[i])

    print(discountfuturefreecashflow)
    dis = terminalvalue/(1+Required_rate)**len(years)
    discountfuturefreecashflow.append(dis)
    value = sum(discountfuturefreecashflow)
    fairvalue = value/outstanding_shares

    print(ticker)
    print(fairvalue)
    print(yahoo_financials.get_current_price())

    print(Cashflowgrowthrate)
    print(Required_Rate)
#print(stock.get_current_price())
DCF_VALUE()

[82758994317.08072, 101212518699.19608, 123780792963.56133, 151381320251.73807]
AAPL
36.76087026031092
121.03
0.49437258525113387
0.22191181367549667

In [371]:
#df = pd.read_html('https://www.marketwatch.com/investing/stock/sq/financials/balance-sheet/annual')

In [372]:
df

               FCF    Net Income
2016  5.179000e+10  4.569000e+10
2017  5.635000e+10  4.835000e+10
2018  2.943000e+10  5.953000e+10
2019  6.238000e+10  5.526000e+10
2020  6.767000e+10  5.741000e+10