In [1]:
import pandas as pd
#import yfinance as yf
from yahoofinancials import YahooFinancials as yfs
import json
import pandas as pd
import requests
import numpy as np

In [137]:
#df = pd.read_html('https://www.marketwatch.com/investing/stock/sq/financials/balance-sheet/annual')
#df = df[4]
maindf = df
#maindf = maindf.set_index('{}'.format(maindf.columns[0]))

In [181]:
def Balance():
    ticker = 'sq'
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/balance-sheet/annual'.format(ticker))
    df1 =  pd.concat([df[4],df[5]])
    maindf = df1
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
    return maindf

In [161]:
def Income():
    ticker = 'sq'
    #income
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials'.format(ticker))
    df = df[4]
    maindf = df
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
        
    return(maindf)

In [272]:
#cashflow
def cash():
    df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/cash-flow/annual'.format(ticker))
    df1 =  pd.concat([df[4],df[5]])
    maindf = df1
    maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
    maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
    maindf = maindf.replace('-',0)
    
    for i in maindf.columns:
        #maindf[i] = maindf[i].replace('B','e9')
        #print(i)
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('K','e3')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('(','-')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(')','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('%','')
        maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace(',','')
    
    for i in maindf.columns: #converts everything to float 
        try:
            maindf['{}'.format(i)] = maindf['{}'.format(i)].astype(float)
        except:
            print(i)

    return maindf

In [273]:
z = cash()

#Free CashFlow
FCF = z.loc[['Net Income before Extraordinaries  Net Income before Extraordinaries','Capital Expenditures  Capital Expenditures','Funds from Operations  Funds from Operations']]
df = pd.DataFrame()
df['FCF'] = FCF.loc['Funds from Operations  Funds from Operations'] + FCF.loc['Capital Expenditures  Capital Expenditures']
df['Net Income'] = FCF.loc['Net Income before Extraordinaries  Net Income before Extraordinaries']
minimum = (df['FCF']/df['Net Income']).min()

In [271]:
#df['FCF'] = FCF.loc['Funds from Operations  Funds from Operations'] + FCF.loc['Capital Expenditures  Capital Expenditures']
df

              FCF   Net Income
2016   30360000.0 -171590000.0
2017  184260000.0  -62810000.0
2018  278150000.0  -38450000.0
2019  514050000.0  375450000.0
2020  584110000.0  213110000.0

In [180]:
x = Income()
#income
df1 = x.loc[['Net Income  Net Income','Sales/Revenue  Sales/Revenue','Pretax Income  Pretax Income','Income Tax  Income Tax','Interest Expense  Interest Expense']]
df1

,2016,2017,2018,2019,2020
Item Item,,,,,
Net Income Net Income,(171.59e6),(62.81e6),(38.45e6),375.45e6,213.11e6
Sales/Revenue Sales/Revenue,1.71e9,2.21e9,3.3e9,4.71e9,9.5e9
Pretax Income Pretax Income,(169.67e6),(62.66e6),(36.13e6),378.21e6,215.97e6
Income Tax Income Tax,1.92e6,149K,2.33e6,2.77e6,2.86e6
Interest Expense Interest Expense,-,10.05e6,17.98e6,21.52e6,56.94e6

In [182]:
y = Balance()
y.loc['Long-Term Debt  Long-Term Debt','Short Term Debt  Short Term Debt']

2016
2017
2018
2019
2020

Index(['Cash & Short Term Investments  Cash & Short Term Investments',
       'Cash & Short Term Investments Growth  Cash & Short Term Investments Growth',
       'Cash Only  Cash Only',
       'Short-Term Investments  Short-Term Investments',
       'Cash & ST Investments / Total Assets  Cash & ST Investments / Total Assets',
       'Total Accounts Receivable  Total Accounts Receivable',
       'Total Accounts Receivable Growth  Total Accounts Receivable Growth',
       'Accounts Receivables, Net  Accounts Receivables, Net',
       'Accounts Receivables, Gross  Accounts Receivables, Gross',
       'Bad Debt/Doubtful Accounts  Bad Debt/Doubtful Accounts',
       'Other Receivable  Other Receivable',
       'Accounts Receivable Turnover  Accounts Receivable Turnover',
       'Inventories  Inventories', 'Finished Goods  Finished Goods',
       'Work in Progress  Work in Progress', 'Raw Materials  Raw Materials',
       'Progress Payments & Other  Progress Payments & Other',
       'Other Current Assets  Other Current Assets',
       'Miscellaneous Current Assets  Miscellaneous Current Assets',
       'Total Current Assets  Total Current Assets',
       'Net Property, Plant & Equipment  Net Property, Plant & Equipment',
       'Property, Plant & Equipment - Gross  Property, Plant & Equipment - Gross',
       'Buildings  Buildings', 'Land & Improvements  Land & Improvements',
       'Computer Software and Equipment  Computer Software and Equipment',
       'Other Property, Plant & Equipment  Other Property, Plant & Equipment',
       'Accumulated Depreciation  Accumulated Depreciation',
       'Total Investments and Advances  Total Investments and Advances',
       'Other Long-Term Investments  Other Long-Term Investments',
       'Long-Term Note Receivables  Long-Term Note Receivables',
       'Intangible Assets  Intangible Assets', 'Net Goodwill  Net Goodwill',
       'Net Other Intangibles  Net Other Intangibles',
       'Other Assets  Other Assets', 'Total Assets  Total Assets',
       'Total Assets Growth  Total Assets Growth'],
      dtype='object', name='Item  Item')

In [191]:
ticker = 'sq'
df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/balance-sheet/annual'.format(ticker))
df1 =  pd.concat([df[4],df[5]])
maindf = df1
maindf = maindf.set_index('{}'.format(maindf.columns[0])) #Makes first column the index 
maindf = maindf.drop(columns = maindf.columns[len(maindf.columns)-1]) # Gets rid of last colsumn 
for i in maindf.columns:
    #maindf[i] = maindf[i].replace('B','e9')
    print(i)
    maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('M','e6')
    maindf['{}'.format(i)] = maindf['{}'.format(i)].str.replace('B','e9')
maindf

2016
2017
2018
2019
2020

,2016,2017,2018,2019,2020
Item Item,,,,,
Cash & Short Term Investments Cash & Short Term Investments,534.06e6,894.86e6,1.16e9,1.58e9,3.88e9
Cash & Short Term Investments Growth Cash & Short Term Investments Growth,-,67.56%,29.41%,36.31%,146.03%
Cash Only Cash Only,474.16e6,725.28e6,617.01e6,1.09e9,3.19e9
Short-Term Investments Short-Term Investments,59.9e6,169.58e6,540.99e6,492.46e6,695.11e6
Cash & ST Investments / Total Assets Cash & ST Investments / Total Assets,44.09%,40.91%,35.29%,34.68%,39.35%
...,...,...,...,...,...
Total Shareholders' Equity Total Shareholders' Equity,576.15e6,786.33e6,1.12e9,1.72e9,2.68e9
Total Shareholders' Equity / Total Assets Total Shareholders' Equity / Total Assets,47.56%,35.95%,34.15%,37.68%,27.17%
Accumulated Minority Interest Accumulated Minority Interest,-,-,-,-,-
Total Equity Total Equity,576.15e6,786.33e6,1.12e9,1.72e9,2.68e9
Liabilities & Shareholders' Equity Liabilities & Shareholders' Equity,1.21e9,2.19e9,3.28e9,4.55e9,9.87e9

In [185]:
df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/balance-sheet/annual'.format(ticker))

In [193]:
df = pd.read_html('https://www.marketwatch.com/investing/stock/{}/financials/cash-flow/annual'.format(ticker))
df

[    0          1         2       3       4   5
 0 NaN        Dow  32778.64  293.05   0.90% NaN
 1 NaN    S&P 500   3943.34    4.00   0.10% NaN
 2 NaN     Nasdaq  13319.86  -78.81  -0.59% NaN
 3 NaN  GlobalDow   3848.52   22.27   0.58% NaN
 4 NaN       Gold   1723.80    4.00   0.23% NaN
 5 NaN        Oil     66.28    0.67   1.02% NaN,
      Close   Chg  Chg %
 0  $242.11  0.39  0.16%,
 Empty DataFrame
 Columns: [Unnamed: 0, Symbol  Company, Price  Chg/Chg %]
 Index: [],
     0   1   2
 0 NaN NaN NaN,
                                            Item  Item       2016       2017  \
 0   Net Income before Extraordinaries  Net Income ...  (171.59M)   (62.81M)
 1                Net Income Growth  Net Income Growth          -     63.39%
 2   Depreciation, Depletion & Amortization  Deprec...     37.75M     37.28M
 3   Depreciation and Depletion  Depreciation and D...     28.87M     29.66M
 4   Amortization of Intangible Assets  Amortizatio...      8.88M      7.62M
 5   Deferred Taxes & Investment Tax Credit  Deferr...        58K    (1.39M)
 6                      Deferred Taxes  Deferred Taxes        58K    (1.39M)
 7        Investment Tax Credit  Investment Tax Credit          -          -
 8                            Other Funds  Other Funds    189.97M    237.28M
 9        Funds from Operations  Funds from Operations     56.19M    210.36M
 10                   Extraordinaries  Extraordinaries          -          -
 11  Changes in Working Capital  Changes in Working...   (33.05M)   (82.65M)
 12                           Receivables  Receivables  (177.66M)  (305.83M)
 13                 Accounts Payable  Accounts Payable    242.47M    365.42M
 14  Other Assets/Liabilities  Other Assets/Liabili...   (97.46M)  (154.44M)
 15   Net Operating Cash Flow  Net Operating Cash Flow     23.13M    127.71M
 16  Net Operating Cash Flow Growth  Net Operating ...          -    452.12%
 17  Net Operating Cash Flow / Sales  Net Operating...      1.35%      5.77%

          2018       2019       2020  5-year trend
 0    (38.45M)    375.45M    213.11M           NaN
 1      38.78%  1,076.38%    -43.24%           NaN
 2      60.96M    105.29M    154.47M           NaN
 3      47.86M     90.29M    135.23M           NaN
 4       13.1M        15M     19.24M           NaN
 5      (646K)    (1.38M)    (8.02M)           NaN
 6      (646K)    (1.38M)    (8.02M)           NaN
 7           -          -          -           NaN
 8     319.07M     97.18M    362.95M           NaN
 9     340.94M    576.55M    722.51M           NaN
 10          -          -          -           NaN
 11   (45.86M)  (110.85M)   (340.9M)           NaN
 12     245.8M  (248.27M)  (473.87M)           NaN
 13   (45.05M)    565.49M      1.88B           NaN
 14  (253.79M)  (428.07M)    (1.74B)           NaN
 15    295.08M     465.7M     381.6M           NaN
 16    131.05%     57.82%    -18.06%           NaN
 17      8.95%      9.88%      4.02%           NaN  ,
                                            Item  Item       2016       2017  \
 0          Capital Expenditures  Capital Expenditures   (25.83M)    (26.1M)
 1   Capital Expenditures Growth  Capital Expenditu...          -     -1.02%
 2   Capital Expenditures / Sales  Capital Expendit...     -1.51%     -1.18%
 3   Capital Expenditures (Fixed Assets)  Capital E...   (25.43M)    (26.1M)
 4   Capital Expenditures (Other Assets)  Capital E...     (400K)          -
 5   Net Assets from Acquisitions  Net Assets from ...    (1.36M)    (1.92M)
 6   Sale of Fixed Assets & Businesses  Sale of Fix...       296K          -
 7   Purchase/Sale of Investments  Purchase/Sale of...   (87.34M)   (312.6M)
 8    Purchase of Investments  Purchase of Investments  (164.77M)  (569.91M)
 9   Sale/Maturity of Investments  Sale/Maturity of...     77.42M    257.31M
 10                             Other Uses  Other Uses          -          -
 11                       Other Sources  Other Sources          -          -
 12   Net Investing Cash Flow  Net Investing Cash Flow  (114.24M)  (340.61M)
 13  Net Investing Cash Flow Growth  Net Investing ...          -   -198.15%
 14  Net Investing Cash Flow / Sales  Net Investing...     -6.69%    -15.38%

          2018       2019       2020  5-year trend
 0    (62.79M)    (62.5M)   (138.4M)           NaN
 1    -140.59%      0.46%   -121.45%           NaN
 2      -1.90%     -1.33%     -1.46%           NaN
 3     (61.2M)    (62.5M)   (138.4M)           NaN
 4     (1.58M)          -          -           NaN
 5    (112.4M)   (20.37M)   (79.22M)           NaN
 6           -    309.32M          -           NaN
 7   (730.66M)  (131.26M)  (389.01M)           NaN
 8     (1.15B)    (1.32B)    (2.02B)           NaN
 9     417.78M      1.19B      1.63B           NaN
 10          -          -          -           NaN
 11          -          -    464.09M           NaN
 12  (905.85M)     95.19M  (606.64M)           NaN
 13   -165.95%    110.51%   -737.27%           NaN
 14    -27.47%      2.02%     -6.39%           NaN  ,
                                            Item  Item     2016       2017  \
 0   Cash Dividends Paid - Total  Cash Dividends Pa...        -          -
 1                  Common Dividends  Common Dividends        -          -
 2            Preferred Dividends  Preferred Dividends        -          -
 3    Change in Capital Stock  Change in Capital Stock   90.91M    219.75M
 4   Repurchase of Common & Preferred Stk.  Repurch...        -          -
 5   Sale of Common & Preferred Stock  Sale of Comm...   90.91M    219.75M
 6   Proceeds from Stock Options  Proceeds from Sto...  (5.53M)          -
 7   Other Proceeds from Sale of Stock  Other Proce...   96.44M    219.75M
 8   Issuance/Reduction of Debt, Net  Issuance/Redu...   (168K)    334.68M
 9      Change in Current Debt  Change in Current Debt        -          -
 10  Change in Long-Term Debt  Change in Long-Term ...   (168K)    334.68M
 11  Issuance of Long-Term Debt  Issuance of Long-T...        -    428.25M
 12  Reduction in Long-Term Debt  Reduction in Long...   (168K)   (93.58M)
 13                           Other Funds  Other Funds        -   (99.49M)
 14                             Other Uses  Other Uses        -   (99.49M)
 15                       Other Sources  Other Sources        -          -
 16   Net Financing Cash Flow  Net Financing Cash Flow   90.74M    454.93M
 17  Net Financing Cash Flow Growth  Net Financing ...        -    401.35%
 18  Net Financing Cash Flow / Sales  Net Financing...    5.31%     20.55%
 19         Exchange Rate Effect  Exchange Rate Effect   (438K)       4.3M
 20           Miscellaneous Funds  Miscellaneous Funds        -          -
 21             Net Change in Cash  Net Change in Cash   (807K)    246.34M
 22                     Free Cash Flow  Free Cash Flow   (2.3M)    101.61M
 23       Free Cash Flow Growth  Free Cash Flow Growth        -  4,514.16%
 24         Free Cash Flow Yield  Free Cash Flow Yield        -          -

          2018       2019       2020  5-year trend
 0           -          -          -           NaN
 1           -          -          -           NaN
 2           -          -          -           NaN
 3     245.98M    118.51M    394.08M           NaN
 4           -          -          -           NaN
 5     245.98M    118.51M    394.08M           NaN
 6           -          -     232.1M           NaN
 7     245.98M    118.51M    161.99M           NaN
 8     459.75M          -      1.78B           NaN
 9           -          -          -           NaN
 10    459.75M          -      1.78B           NaN
 11    855.66M          -      2.12B           NaN
 12  (395.91M)          -  (338.15M)           NaN
 13  (189.97M)  (217.39M)    142.72M           NaN
 14  (189.97M)  (217.39M)  (321.38M)           NaN
 15          -          -    464.09M           NaN
 16    515.76M   (98.87M)      2.32B           NaN
 17     13.37%   -119.17%  2,441.56%           NaN
 18     15.64%     -2.10%     24.38%           NaN
 19    (7.22M)      3.84M        13M           NaN
 20          -          -          -           NaN
 21  (102.23M)    465.86M       2.1B           NaN
 22    233.88M     403.2M     243.2M           NaN
 23    130.16%     72.40%    -39.68%           NaN
 24          -          -       0.23           NaN  ]

In [ ]:
y.loc['Long-Term Debt  Long-Term Debt','Short Term Debt  Short Term Debt']